body {
	margin: 0px;
	padding: 0px;
	scroll-behavior: smooth;
	color: white;
	background-color: darkslategrey;
	background-image: url("47.jpg");
	background-size: cover;
	/* background-position: center; */
}
body
h1 {
	text-align: center;
	font-size: 30px;
	color: white;
}
footer {
	background-color: black;
	color: white;
}